body {
    font-family: Arial, sans-serif;
}

#title{
    font-family: "Danfo", serif;
    color: rgb(29, 57, 57);
    font-size: 30px;
    text-align: center;
    margin: 5px;
}

#nav-item{
    text-decoration: none;
    color: rgb(226, 214, 214);
    padding: 4px;
    font-size: 15px;
}

.card-img-top{
  width: 160px;
  height: 160px;
}


* {box-sizing:border-box}

.carousel-control-next , .carousel-control-prev{
background-color: rgba(0, 0, 0, 0.539);
width: 30px;
}
#produtos1{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(209, 209, 143);
  padding: 20px;
  margin-bottom: 0px;
}

#produtos2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(207, 207, 48);
  padding: 20px;
  
}


.card{
  margin-left: 10px;
}